.circleSpinner {
  padding: 1.5rem;
  display: inline-block;
  border-radius: 50%;
  border-bottom: .1rem solid var(--bg-color);
  border-top: .1rem solid var(--bg-color);
  border-left: .5rem solid var(--main-color);
  border-right: .5rem solid var(--main-color);
  animation: spinner 16s linear infinite;
 }

 .circleSpinnerReverse {
  padding: 2rem;
  display: inline-block;
  border-radius: 50%;
  border-bottom: 0.1rem solid var(--bg-color);
  border-top: 0.1rem solid var(--bg-color);
  border-left: .3rem solid var(--main-color);
  border-right: .3rem solid var(--main-color);
  animation: spinnerReverse 32s linear infinite;
 }

 /* Prevent image from spinning by adding counter rotation*/
 .circleSpinner img {
  border-radius: 50%;
  background-color: black;
   box-shadow: 
    0 0 20px #00abf0,
    0 0 50px #00abf0;
  animation: spinner 32s linear infinite reverse;
}

@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinnerReverse {
  100% {
    transform: rotate(-360deg);
  }
}