.contentBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.highlight {
  color: var(--main-color);
}

/* Workaround to prevent image from changing dimensions */
.img {
  scale: 0.8;
  border: .4rem solid var(--main-color);
  border-radius: 50%;
  max-height: 300px !important;
  max-width: 300px !important;
  min-height: 300px !important;
  min-width: 300px !important;
  background-color: black;
 }

 .aboutContent {
  display: flex;
  flex-direction: column;
  text-align: center;
 }

 .aboutContent h2 {
  font-size: 2.6rem;
 }

 .aboutContent p {
  font-size: 2.6rem;
 }
 