.animate {
  position: relative; /* Make children & pseudo elements' position relative to fit them in parent even with position absolute */
  padding: 1px; /* Ensure proper covering of children elements*/
}
.animate::before {
  content: '';
  top: 0;
  right: 0; /* Lock right side so when width is shrinking, its the left side that toward the locked right side. */
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--bg-color);
  z-index: 1; /* Move in front of Frontend Developer subtitle */
  transition: 0.5s;
  animation: showRight 1s forwards;
  animation-delay: calc(0.3s * var(--i));
}

@keyframes showRight {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}