.heroTitle {
    font-size: 5.6rem;
    font-weight: 600;
    line-height: 1.4;
    color: #fff;
    /* text-shadow: 0 0 2px #fff, 0 0 6px #fff, 0 0 40px #7b92aa; */
    /* background-clip: text;
    -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
}
