* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
  font-weight: 900;
}

:root {
  --bg-color:#E8E9EA;
  --second-bg-color: #000000; 
  --text-bg-color: #ededed; 
  --main-color: #00abf0;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--bg-color);
  color: var(--text-bg-color);
}

section {
  height: 100vh;
  padding: 10rem 9% 2rem;
}

p {
  font-size: 1.6rem;
  margin: 2rem 0 4rem;
}

.name {
  color: transparent;
  font-size: 11rem;
  text-align: center;
  text-shadow: 11px 0px 1.6rem #E5E6E8, 0px 0px 0px #c1c1c1; /* Test 1.1 rem*/
  text-transform: uppercase;
}

.box {
  height: 100vh;
}


html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}